# Database Configuration (Render)
# Render provides a DATABASE_URL (External for local, Internal for production)
DATABASE_URL=postgres://user:password@host:port/dbname?ssl=true

# Application Configuration
PORT=3000
JWT_SECRET=yoursupersecretkey
FRONTEND_URL=https://rejection-app-frontend.vercel.app
